<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.erp.persistence.sys.OrganizationMapper">

    <resultMap id="organizationMap" type="com.ace.erp.entity.sys.Organization">
        <result property="id" column="organ_id"/>
        <result property="name" column="name"/>
        <result property="tradeCodeId" column="trade_code_id"/>
        <result property="logo" column="logo"/>
        <result property="site" column="site"/>
        <result property="userCount" column="user_count" />
        <result property="address" column="address" />
        <result property="description" column="description"/>
        <result property="status" column="organ_status" />
        <result property="createTime" column="organ_create_time" javaType="java.lang.String"
                typeHandler="com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler"/>
        <result property="expireTime" column="expire_time" javaType="java.lang.String"
                typeHandler="com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler"/>
        <result property="modifyTime" column="organ_modify_time" javaType="java.lang.String"
                typeHandler="com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler"/>
    </resultMap>

    <resultMap type="Organization" id="userOrganizationMap" extends="organizationMap">
        <collection property="userList" ofType="User"
                    resultMap="com.ace.erp.persistence.sys.UserMapper.userMap" />
    </resultMap>

    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        sys_organization (name,trade_code_id,user_count,description,address,telephone,logo,site,status,expire_time,create_time,modify_time)
        VALUES
        (#{name},#{tradeCodeId},#{userCount},#{description},#{address},#{telephone},#{logo},#{site},#{status},
        <if test="expireTime == null">
            date_add(now(), interval 30 day),
        </if>
        <if test="expireTime != null">
            #{expireTime,typeHandler=com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler},
        </if>
        <if test="createTime == null">
            now(),
        </if>
        <if test="createTime != null">
            #{createTime,typeHandler=com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler},
        </if>
        <if test="modifyTime == null">
            now()
        </if>
        <if test="modifyTime != null">
            #{modifyTime,typeHandler=com.ace.erp.handler.mybatis.StringISODateTimeTypeHandler}
        </if>
        )
    </insert>

    <select id="getOne" parameterType="java.lang.Integer" resultMap="userOrganizationMap">
    SELECT
      so.id as organ_id,so.name,so.trade_code_id,so.user_count,
      so.logo,so.site,so.description,so.address,so.status as organ_status,
      so.create_time as organ_create_time,
      so.expire_time,so.modify_time as organ_modify_time,
      so.telephone,
      su.id,su.username,
      su.password,
      su.email,su.mobile_phone_number,
      su.salt,su.status as user_status,
      su.deleted,
      su.admin,su.create_time,
      su.modify_time
    FROM sys_organization as so
    LEFT JOIN sys_user_organization AS suo ON so.id = suo.organization_id
    LEFT JOIN sys_user AS su ON suo.user_id = su.id
    WHERE so.id = #{id}
  </select>

</mapper>