<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.erp.shiro.persistence.PermissionMapper">

    <resultMap id="permissionResult" type="com.ace.erp.entity.sys.Permission">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="description" column="description"/>
        <result property="show" column="is_show"/>
    </resultMap>

  <delete id="delete" parameterType="java.lang.Integer" >
    DELETE FROM sys_permission WHERE id = #{permissionId}
  </delete>

  <delete id="deleteByIds" parameterType="java.util.Map" >
    DELETE FROM sys_permission WHERE id in
      <foreach item="item" index="index" collection="list"
               open="(" separator="," close=")">
          ${item}
      </foreach>
  </delete>

  <select id="getOne" parameterType="java.lang.Integer" resultMap="permissionResult">
    SELECT * FROM sys_permission WHERE id = #{permissionId}
  </select>

  <insert id="save" parameterType="Permission" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO
        sys_permission (name,permission,description,is_show)
      VALUES
        (#{name},#{permission},#{description},#{show})
  </insert>

  <update id="update" parameterType="Permission">
      update sys_permission set
        <if test="name != null">
        name = #{name},
        </if>
        <if test="permission != null">
        permission = #{permission},
        </if>
        <if test="description != null">
        description = #{description},
        </if>
        <if test="show != null">
        is_show = #{show}
        </if>
      where id = #{id}
  </update>

    <select id="getCount" resultType="int">
        select count(*) from sys_permission;
    </select>

    <select id="getPageList" resultMap="permissionResult" parameterType="java.util.Map">
        SELECT
        id,name,permission,description,is_show
        FROM sys_permission
        order by id
        limit #{offset},#{limit};
    </select>


</mapper>