<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.erp.shiro.persistence.RoleResourcePermissionMapper">

    <resultMap id="roleResourcePermissionMap" type="com.ace.erp.entity.sys.RoleResourcePermission">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="permissionIds" column="permission_ids"/>
    </resultMap>



</mapper>