<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.erp.shiro.persistence.RoleMapper">

    <resultMap id="roleResult" type="com.ace.erp.entity.sys.Role">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="description" column="description"/>
        <result property="show" column="is_show"/>
        <result property="createTime" column="create_time" javaType="org.joda.time.DateTime"
                typeHandler="com.ace.erp.handler.JodaDateTimeTypeHandler"/>
        <result property="modifyTime" column="modify_time" javaType="org.joda.time.DateTime"
                typeHandler="com.ace.erp.handler.JodaDateTimeTypeHandler"/>
        <collection property="resourcePermissions" ofType="RoleResourcePermission">
            <id property="id" column="rrp_id"/>
            <id property="roleId" column="role_id"/>
            <id property="resourceId" column="resource_id"/>
            <id property="permissionIds" column="permission_ids"/>
        </collection>
    </resultMap>

    <select id="getResourcePermissions" parameterType="java.lang.Integer" resultMap="roleResult">
    SELECT id, name, role, description,is_show,create_time,modify_time FROM sys_role WHERE role_id = #{roleId}
  </select>

    <select id="getListRolesByRoleIds" parameterType="Map" resultMap="roleResult">
        SELECT
        r.id,r.name,r.role,r.description,r.is_show,r.create_time,r.modify_time,rrp.id as
        rrp_id,rrp.role_id,rrp.resource_id,rrp.permission_ids
        FROM sys_role as r
        LEFT JOIN sys_role_resource_permission as rrp on r.id = rrp.role_id
        WHERE r.id in
        <foreach item="item" index="index" collection="roleIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRoleById" resultMap="roleResult">
        SELECT
        r.id,r.name,r.role,r.description,r.is_show,r.create_time,r.modify_time,
        rrp.id as rrp_id,
        rrp.role_id,
        rrp.resource_id,
        rrp.permission_ids
        FROM sys_role as r
        LEFT JOIN sys_role_resource_permission as rrp on r.id = rrp.role_id where id = #{id};
    </select>

    <select id="getAllRoles" resultMap="roleResult">
        SELECT
        r.id,r.name,r.role,r.description,r.is_show,r.create_time,r.modify_time,
        rrp.id as rrp_id,
        rrp.role_id,
        rrp.resource_id,
        rrp.permission_ids
        FROM sys_role as r
        LEFT JOIN sys_role_resource_permission as rrp on r.id = rrp.role_id limit 100;
    </select>

    <insert id="save" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO
        sys_role (name,role,description,is_show,create_time,modify_time)
      VALUES
        (#{name},#{role},#{description},#{show},#{createTime},#{modifyTime})
  </insert>

    <delete id="deleteByIds" parameterType="map" >
      delete from sys_role where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>

    <delete id="deleteById" parameterType="int" >
        delete from sys_role where id = #{id}
    </delete>

    <update id="update" parameterType="Role">
        update sys_role set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="role != null">
            role = #{role},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="show != null">
            is_show = #{show},
        </if>
        <if test="createTime != null">
            create_time = #{createTime,typeHandler=com.ace.erp.handler.JodaDateTimeTypeHandler},
        </if>
        <if test="createTime == null">
            create_time = now(),
        </if>
        <if test="modifyTime != null">
            modify_time = #{modifyTime,typeHandler=com.ace.erp.handler.JodaDateTimeTypeHandler},
        </if>
        <if test="modifyTime == null">
            modify_time = now()
        </if>
        where id = #{id}
    </update>

</mapper>